body {
  background-color: rgba(57, 80, 140, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  background-color: black;
  color: white;
  border: 2px solid grey;
  border-radius: 5px;
  width: 70%;
  max-width: 900px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

.show {
  display: flex !important;
}
.block {
  width: 60px;
  height: 60px;
  cursor: none;
  color: white;
  background-color: rgba(0, 0, 255, 0.733);
  border: none;
  position: absolute;
}
.light {
  background-color: yellow !important;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  /*justify-content: center;*/
}
.cursor {
  cursor: pointer !important;
}

#deleteDiv {
  display: none;
  flex-direction: column;
}
#user {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 45%;
}
#userName {
  height: 15%;
  width: 35%;
  font-size: 1.25rem;
}
#nameOk {
  font-size: 1.5rem;
  padding-left: 1.5%;
  padding-right: 1.5%;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
}
#intro {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
#intro2 {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
#blockContainer {
  display: none;
  position: relative;
  height: 100%;
  width: 85%;
}
#block1 {
  top: 15%;
  left: 27%;
}
#block2 {
  top: 3%;
  left: 41%;
}
#block3 {
  top: 8%;
  left: 55%;
}
#block4 {
  top: 18%;
  left: 70%;
}
#block5 {
  top: 35%;
  left: 56%;
}
#block6 {
  top: 42%;
  left: 40%;
}
#block7 {
  top: 53%;
  left: 29%;
}
#block8 {
  top: 60%;
  left: 54%;
}
#block9 {
  top: 48%;
  left: 68%;
}
#done {
  font-size: 1.75rem;
  padding-left: 1.5%;
  padding-right: 1.5%;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  cursor: none;
  position: absolute;
  top: 85%;
  left: 45%;
  display: none;
}
#correct {
  font-size: 3rem;
  text-align: center;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  display: none;
}
#incorrect {
  font-size: 3rem;
  text-align: center;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  display: none;
}
#ready {
  font-size: 2rem;
  text-align: center;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  display: none;
}
#realTestBegin {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
#endTest {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

::placeholder {
  opacity: 0.75;
}
